.app-container {
  /* background-color: #4d6bff66; */
  background-color: #0062cc57;
}

.options_container, .recap_container, .simulator_container {
  background-color: #f1f2f6;
}

.recap_container {
  font-size: 16px;
}

.recap-header {
  color: #f1f2f6;
}